<!--&lt;!&ndash;-->
<!--  Calculate the post's reading time, and display the word count in tooltip-->
<!-- &ndash;&gt;-->
<!--{% assign words = include.content | strip_html | number_of_words: "auto" %}-->

<!--&lt;!&ndash; words per minute  &ndash;&gt;-->
<!--{% assign wpm = 180 %}-->
<!--{% assign min_time = 1 %}-->

<!--{% assign read_time = words | divided_by: wpm %}-->

<!--{% unless read_time > 0 %}-->
<!--  {% assign read_time = min_time %}-->
<!--{% endunless %}-->

<!--&lt;!&ndash; return element &ndash;&gt;-->
<!--<span class="readtime" data-toggle="tooltip" data-placement="bottom" title="{{ words }} words">-->
<!--  {{- read_time -}}{{" "}}{{- site.data.label.read_time_unit | default: "min" -}}-->
<!--</span>-->
